---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
---

<BaseLayout pageTitle="Home Page">
  <h2>My awesome blog subtitle</h2>
  <Greeting
    client:load
    messages={["Hi", "Hello", "Howdy", "Hey there", "Hola", "Ola", "你好"]}
  />
</BaseLayout>
