---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <!-- <p>
    Learn more about my project on <a
      href="https://github.com/qjnz/astro-tutorial"
      target="_blank">github</a
    >
  </p> -->
  <Social platform="twitter" username="SchrodingerCode" />
  <Social platform="github" username="qjnz/astro-tutorial" />
  <Social platform="linkedin" username="in/qjnz" />
</footer>
